@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

.bg-cope {
    background: #073459;
}

.margen-content {
    margin-top: 25px;
}

#card-form {
    background: #c8c8c8;
}
h1{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    margin:auto;
    color: rgb(17, 17, 17,);
    text-align: center;
    margin-top: 25px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    margin:auto;
    color: rgb(17, 17, 17,);
    text-align: center;
}