@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

.bg-cope {
    background: #073459;
}

.margen-content {
    margin-top: 25px;
}

#card-form {
    background: #f3f3f3;
}